.strength0
{
background:#cccccc;
}

.strength1
{
background:#ff0000;
}

.strength2
{
background:#ff5f5f;
}

.strength3
{
background:#56e500;
}

.strength4
{
background:#4dcd00;

}

.strength5
{
background:#399800;

}